{% extends 'base.html' %}

{% block head %}
<title>Add Faculty</title>
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" charset="utf-8"></script>

<div class="container">
    <h1 style="text-align:center" >Add Faculty</h1>
</div>

<!-- Div blocks for adding faculty name -->
<form action="/add-faculty" method="post">
    <div class="form-group row">
    <label for="faculty_name" class="col-sm-2 col-form-label">Faculty Name :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="faculty_name" id="faculty_name" placeholder="Enter Faculty name">
    </div>
  </div>

    <div class="form-group row">
      <label for="faculty_hours" class="col-sm-2 col-form-label">Working hours(week) :</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="faculty_hours" id="faculty_hours" placeholder="Enter working hours">
      </div>
    </div>
    <!-- Div blocks for selecting subject
      <option value={-{-}}"subject.subjectname" default>3</option>
  -->
    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject">Choose Subject :</label>
      </div>
      <select class="custom-select" name="faculty_subject" id="faculty_subject">
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
  </div>
  <div>
      <!-- button type="button" won't submit form, default is submit -->
      <button class="btn btn-primary" id="addsubject" onclick="javascript: addSub()">Add More Subject</button>
      <script type="text/javascript">
          function addSub() {
              event.preventDefault();
              var select = document.getElementById('faculty_subject').cloneNode(true);
              document.getElementById('add').appendChild(select);
          }
      </script>
      <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>

{% endblock %}
