{% extends 'base.html' %}

{% block head %}
<title>Add Classroom</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center">Add Classroom</h1>
</div>

<!-- Div blocks for choosing type of classroom -->
<form action="/add-classroom" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="classroomtype">Type of Classroom</label>
      </div>
      <select class="custom-select" name="classroomtype" id="classroomtype">
        <option value="lab">Lab</option>
        <option value="lecture">Lecture</option>
      </select>
    </div>
    <!-- Enter classroom name with building i.e. A202
      -->
    <div class="form-group row">
    <label for="class_number" class="col-sm-2 col-form-label">Enter room number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="class_number" id="class_number" placeholder="i.e. A101" required>
    </div>
  </div>

  <div>
      <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>

<div class="container">
    <hr>
    <h3>Classroom List</h3>
    <br>
    {% for classroom in classrooms %}
        <div class="row">
            <div class="column">
                <b>Classroom : </b>{{classroom.class_number}}
                <b>Type: </b> {{classroom.class_type}}
                <a class="btn btn-primary" href="/edit/classroom/{{classroom.class_id}}" >Edit</a>
                <a class="btn btn-danger" href="/delete/classroom/{{classroom.class_id}}">Delete</a>
                <hr>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
