{% extends 'base.html' %}

{% block head %}
<title>Add Faculty</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center" >Add Faculty</h1>
</div>

<!-- Div blocks for adding faculty name -->
<form action="/add-faculty" method="post">
    <div class="form-group row">
    <label for="faculty_name" class="col-sm-2 col-form-label">Faculty Name :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="faculty_name" id="faculty_name" placeholder="Enter Faculty name" required>
    </div>
  </div>

    <div class="form-group row">
      <label for="faculty_hours" class="col-sm-2 col-form-label">Working hours(week) :</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="faculty_hours" id="faculty_hours" placeholder="Enter working hours" required>
      </div>
    </div>


    <!------------------------------>
    <!-- Div blocks for selecting subject
      <option value={-{-}}"subject.subjectname" default>3</option>
  -->
    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject1">Subject 1 :</label>
      </div>
      <select class="custom-select" name="faculty_subject1" id="faculty_subject1">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject2">Subject 2 :</label>
      </div>
      <select class="custom-select" name="faculty_subject2" id="faculty_subject2">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject3">Subject 3 :</label>
      </div>
      <select class="custom-select" name="faculty_subject3" id="faculty_subject3">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject4">Subject 4 :</label>
      </div>
      <select class="custom-select" name="faculty_subject4" id="faculty_subject4">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject5">Subject 5 :</label>
      </div>
      <select class="custom-select" name="faculty_subject5" id="faculty_subject5">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject6">Subject 6 :</label>
      </div>
      <select class="custom-select" name="faculty_subject6" id="faculty_subject6">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3" id="add">
      <div class="input-group-prepend">
        <label class="input-group-text" for="faculty_subject7">Subject 7 :</label>
      </div>
      <select class="custom-select" name="faculty_subject7" id="faculty_subject7">
          <option default value="none">None</option>
        {% for subject in subjects %}
          <option value="{{subject.sub_name}}">{{ subject.sub_name }}</option>
        {% endfor %}
      </select>
    </div>

  <!--------------------->
  <div>
      <!-- button type="button" won't submit form, default is submit -->
      <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>


<div class="container">
    <hr>
    <h3>Faculty List</h3>
    <br>
    {% for faculty in faculties %}
        <div class="row">
            <div class="column">
                {{faculty.faculty_name}}
                <a class="btn btn-primary" href="/edit/faculty/{{faculty.faculty_id}}" >Edit</a>
                <a class="btn btn-danger" href="/delete/faculty/{{faculty.faculty_id}}" >Delete</a>
                <hr>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
