{% extends 'base.html' %}

{% block head %}
<title>Edit Subject</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center" >Edit Subject</h1>
</div>

<!-- Div blocks for selecting semester, adding subject name and code -->
<form action="/edit/subject/{{subject.id}}" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="choosesemester">Choose Semester</label>
      </div>
      <select class="custom-select" name="choosesemester" id="choosesemester">
        <option default value="{{subject.sub_sem}}">{{subject.sub_sem}}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>

    <div class="form-group row">
    <label for="subjectname" class="col-sm-2 col-form-label">Subject Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="subjectname" id="subjectname" value="{{subject.sub_name}}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="subjectcode" class="col-sm-2 col-form-label">Subject Code</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="subjectcode" id="subjectcode" value="{{subject.sub_code}}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="subjectcode" class="col-sm-2 col-form-label">Subject Credits</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="subjectcredits" id="subjectcredits" value="{{subject.sub_credits}}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="subjectcode" class="col-sm-2 col-form-label">Lab per week</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="is_lab" id="is_lab" value="{{subject.is_lab}}" required>
    </div>
  </div>
  <div>
      <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>
{% endblock %}
