{% extends 'base.html' %}

{% block head %}
<title>Edit Classroom</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center" >Edit Classroom</h1>
</div>

<!-- Div blocks for selecting semester, adding subject name and code -->
<form action="/edit/classroom/{{classroom.class_id}}" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="classroomtype">Type of Classroom</label>
      </div>
      <select class="custom-select" name="classroomtype" id="classroomtype" value="{{classroom.class_type}}">
        <option value="lab">Lab</option>
        <option value="lecture">Lecture class</option>
      </select>
    </div>
    <!-- Enter classroom name with building i.e. A202
      -->
    <div class="form-group row">
    <label for="class_number" class="col-sm-2 col-form-label">Enter room number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="class_number" id="class_number" value="{{classroom.class_number}}" required>
    </div>
    </div>

    <div>
      <button class="btn btn-success" type="submit">Save</button>
    </div>
</form>
{% endblock %}
