{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center" >Login</h1>
</div>

<form action="/login" method="post">
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Welcome to Timetable Generator</h1>

        <input name="email_id" id="email_id" type="email" class="form-control" placeholder="Email address" required autofocus>
        <br>

        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <br>

        <div class="row">
            <div class="col">
                <button href="/login" class="btn btn-lg btn-success btn-block" type="submit">Log in</button>
            </div>
            <div class="col">
                <a href="/signup" class="btn btn-lg btn-danger btn-block" type="submit">Sign up</a>
            </div>
        </div>

    </div>
</form>
{% endblock %}
